@media screen and (max-width: 792px) {
    .test-demo-version article {
        background: url("image.png") no-repeat 100% 95% / 400px;
        padding: 20px 380px 20px 20px;
    }
}

@media screen and (max-width: 690px) {
    .test-demo-version {
        height: auto;
    }

    .test-demo-version article {
        background: transparent;
        padding: 20px;
    }
}

@media screen and (max-width: 590px) {
    .test-demo-version article {
        padding: 20px;
    }

    .i-want-test {
        display: block;
        text-align: center;
    }
}
