@media screen and (max-width: 792px) {
    .test-demo-version {
        padding: 20px;
        background: #F0F3FF url("image.png") no-repeat 95% 95% / 400px;
    }
}

@media screen and (max-width: 690px) {
    .test-demo-version {
        padding: 20px;
        background: #F0F3FF url("image.png") no-repeat 99% 90% / 350px;
    }
}

@media screen and (max-width: 590px) {
    .test-demo-version {
        padding: 20px;
        background: #F0F3FF;
        height: auto;
    }

    .i-want-test {
        display: block;
        text-align: center;
    }
}
